.env
.idea/
morphic/
__pycache__/*
**/__pycache__/*
.ipynb_checkpoints/*
**/.ipynb_checkpoints/*
expt/outputs/*
expt/outputs_old/*
outputs/
tests/e2e_outputs/*
stat_plots/*
**/_pytensor_cache/*
jobs/*